/* Cards */

@media only screen and (min-width: 500px) {
    button {
        
    padding: .5em 1.5em;
    }
    
    
}


@media only screen and (min-width: 850px) {
    #wrapper {
        grid-template-columns: 50px repeat(3, 1fr);
    }  
    
    .subjectArea {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) rotate(-90deg);
        margin: 0 auto;
    }
    
    .tab h2 {
        margin: 0;
    }
    
}


@media print {
 
    img, .cta, .reset {display: none;}
    
}