/* Main styles */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-weight: 300;
    font-size: 1rem;
}

/* Header */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 4px 16px;
    -webkit-box-shadow: 0 0px 16px rgba(53, 53, 53, 0.24);
    box-shadow: 0 0px 16px rgba(53, 53, 53, 0.24);
    background: #FFF;
    width: 100%;
    z-index: 1;
    min-height: 60px;
    -ms-flex-pack: distribute;
    justify-content: space-between;
}

/* Headings */

header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.3em;
    text-transform: capitalize;
    margin-right: 16px;
}

h1,h2 {
    font-weight: 300;
}

h2 {
    font-size: 1.3em;
}

p {
    font-size: .9em;
}

.subjectArea {
    font-size: 1em;
}

/* Cards */

#wrapper {
    width:100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.cards {
    border: 1px solid #f1f1f1;
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

.img {
    float: left;
    padding-right: .8em;
}

.cards img {
    width: 64px;
    height: 64px;
}

.cards div.img {
    margin-bottom: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.card-content {
    padding: 0 10px;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
}

.cards .right {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.right {
    float: right;
}

.left {
    float: left;
}

.tab {
   color: #fff; 
   position: relative;
}

.tab h2 {
    font-weight: 400;
    letter-spacing: .1em;
    margin-left: 2em;
}

.tabAccessibility {
    background: rgba(0, 150, 136,.8);    
}

.tabDesign {
    background: #008bce;    
}

.tabFeedback {
    background: #009688;   
}

.tabCopywriting {
    background: #d04e8a;
}

.tabDevelopment {
    background: #f47623;
}

.tabPerformance {
    background: #00699b; 
}


input.labelauty + label ::-moz-selection {
  background-color: rgba(255, 255, 255, 0); }
input.labelauty + label ::selection {
  background-color: rgba(255, 255, 255, 0); }

input.labelauty + label ::-moz-selection {
  background-color: rgba(255, 255, 255, 0); }

/* Hide original checkboxes. They are ugly! */
input.labelauty {
  display: none !important; }


input.labelauty + label {
  display: table;
  font-size: 11px;
  padding: 10px;
  background-color: #efefef;
  color: #b3b3b3;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }


input.labelauty + label > span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked {
  display: inline-block;
  line-height: 16px;
  vertical-align: bottom; }


input.labelauty + label > span.labelauty-unchecked-image,
input.labelauty + label > span.labelauty-checked-image {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-position: left center;
  transition: background-image 0.5s linear;
  -moz-transition: background-image 0.5s linear;
  -webkit-transition: background-image 0.5s linear;
  -o-transition: background-image 0.5s linear; }


input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked {
  margin-left: 7px; }


input.labelauty:not(:checked):not([disabled]) + label:hover {
  background-color: #eaeaea;
  color: #a7a7a7; }

input.labelauty:not(:checked) + label > span.labelauty-checked-image {
  display: none; }

input.labelauty:not(:checked) + label > span.labelauty-checked {
  display: none; }

/* When Checked */
input.labelauty:checked + label {
  background-color: #3498db;
  color: #ffffff; }

input.labelauty:checked:not([disabled]) + label:hover {
  background-color: #72c5fd; }

input.labelauty:checked + label > span.labelauty-unchecked-image {
  display: none; }

input.labelauty:checked + label > span.labelauty-unchecked {
  display: none; }

input.labelauty:checked + label > span.labelauty-checked {
  display: inline-block; }

input.labelauty.no-label:checked + label > span.labelauty-checked {
  display: block; }

/* When Disabled */
input.labelauty[disabled] + label {
  opacity: 0.5; }




/* Add a background to (un)checked images */
input.labelauty + label > span.labelauty-unchecked-image {
  background-image: url(../images/input-unchecked.png); }

input.labelauty + label > span.labelauty-checked-image {
  background-image: url(../images/input-checked.png); }



/* Links */

a {
    color: #00F;
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

button a {
    text-decoration: none;
    color: #fff;
}

button a:hover {
    text-decoration: none;
}

/* Button */

.cta, .reset {
    background-color: rgba(0, 150, 136,.8);
    color: #fff;
    border: #666;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

.reset {
    background-color: rgba(255, 255, 255,1);
    border: 1px solid rgba(0, 150, 136,.8);
    color: rgba(0, 150, 136,.8);
    padding: 1em 2em;
    margin-right: 1em;
}

button:hover {
    background-color: rgba(0, 150, 136,1);
}

.reset:hover {
    color: #fff;
}



