/* Main styles */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-weight: 300;
    font-size: 1rem;
}

/* Header */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 4px 16px;
    -webkit-box-shadow: 0 0px 16px rgba(53, 53, 53, 0.24);
    box-shadow: 0 0px 16px rgba(53, 53, 53, 0.24);
    background: #FFF;
    width: 100%;
    z-index: 1;
    min-height: 60px;
    -ms-flex-pack: distribute;
    justify-content: space-between;
}

/* Headings */

header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.3em;
    text-transform: capitalize;
    margin-right: 16px;
}

h1,h2 {
    font-weight: 300;
}

h2 {
    font-size: 1.3em;
}

p {
    font-size: .9em;
}



/* Cards */

.cardWrap {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #f1f1f1;
    padding: 1em;
    width: 100%;
    margin: 0 0 1em;
    flex-grow: 3;
}

.cardHeading {
    position: relative;
    width: 100px;
    background-color: #9C27B0;
}

.cardHeading h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    width: 100px;
}

/* Links */

a {
    color: #00F;
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

button a {
    text-decoration: none;
    color: #fff;
}

button a:hover {
    text-decoration: none;
}

/* Button */

button {
    background-color: rgba(0, 150, 136,.8);
    color: #fff;
    border: #666;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 150, 136,1);
}


/* Fex */