
/* ================================= 
  Main Styles
==================================== */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 
body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p  {
	font-size: .95em;
}

.name a {
    font-size: 1.5em;
}

h1 {
    font-size: 3.25em;
    font-weight: 700;
}

h1,
h2,
h3 {
   font-family: InterFace,'Open Sans',sans-serif;    
}

h2,
h3
 {
	color: #008bce;
    font-weight: 300;
    font-size: 2.1875em;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
    color: #008bce;
}

a:hover {
    border-bottom: 1px solid #008bce;
}

img {
	max-width: 100%;
}

/* Button */


button a {
    text-decoration: none;
    color: #d04e8a;
}

button a:hover {
    text-decoration: none;
}



.cta, .secondary {
    background-color: #fff;
    border: 1px solid #d04e8a;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

.secondary {
     border: 1px solid #008bce;
}

.secondary a {
      color: #008bce;
}


button:hover {
    background-color: #fff;   
   
}

button a:hover {
     color: #d04e8a;    
     border: none;
}

/* ---- Layout Containers ---- */



.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.main-header, .main-nav a {
	padding: 10px 15px;
}


.banner,
.main-footer {
	text-align: center;
}

.banner {
	color: #fff;
	background: #008bce;
	padding: 3.2em 0;
    min-height: 80vh;
    display: flex;
    
}

.banner-item {
    margin: auto;
}


.row {
    display: flex;
}

.main-footer {
	background: #008bce;
    color: #fff;
	padding: 2em 0;
}

section {
     display: flex;   
}

.section-item-text {
    flex-grow: 2;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto 3em;
}

.musings {
    padding-top: 3em;
}

article {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    margin: 0 3em 2.5em 3em;
    border-top: 2px solid #eee;
}

.article-title {
  padding-top: 1em;
  flex: 2;
  margin-right: 2em;
}

.article-text {
  padding-top: 2em;
  flex: 3;
}

.article-text button {
    margin-top: auto; 
    align-self: flex-start; 
}

article h2 {
    font-size: 1.7em;
    line-height: 1.3em;
}

.read-all {
    justify-content: center;
    padding: 3em 3em 5em 0;
}



/* ---- Page Elements ---- */

.headline {
	margin-bottom: 0;
}

.resources, .resources h2 {
    background: #d04e8a;
    color: #fff;    
}


.tagline {
    font-weight: 300;
}

.tagline a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

