
/* ================================= 
  Main Styles
==================================== */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 
body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Typography */

p  {
	font-size: .95em;
}

.name a {
    font-size: 1.5em;
}

h1 {
    font-size: 3.25em;
    font-weight: 700;
}

h1,
h2,
h3 {
   font-family: InterFace,'Open Sans',sans-serif;    
}

h2,
h3
 {
	color: #008bce;
    font-weight: 300;
    font-size: 2.1875em;
}

h2,
h3 {
	margin-top: 0;
}

article h2 {
    font-size: 1.7em;
    line-height: 1.3em;
}

/* Links */

a {
	text-decoration: none;
    color: #008bce;
}

a:hover {
    border-bottom: 1px solid #008bce;
    padding: 0 0 .3em 0;
}



/* Button */


.main-button {
    background-color: transparent;
    border: 1px solid #008bce;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

.main-button a {
    text-decoration: none;
    color: #008bce;    
}

.main-button a:hover {
    color: #fff;
    border: none;
}

.main-button:hover{
    border-color: #008bce;
    background: #008bce;
    color: #fff;
    text-decoration: none;
}

.btn-pink a {
    color: #d04e8a;
}

.btn-pink {
    color: #d04e8a;
    border: 1px solid #d04e8a;  
}

.btn-pink:hover {
    background-color: #d04e8a;
    border: 1px solid #d04e8a;
    color: #fff;     
}



/* ---- Layout Containers ---- */



.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.main-header, .main-header a {
	margin: 1em;
}


.banner,
.main-footer {
	text-align: center;
}

.banner {
	color: #fff;
	background: #008bce;
	padding: 3.2em 0;
    min-height: 80vh;
    display: flex;
    
}

.banner-resources {
    min-height: 50vh;
    background: #d04e8a;
}

.banner-item {
    margin: auto;
}


.row {
    display: flex;
}

.main-footer {
	background: #008bce;
    color: #fff;
	padding: 2em 0;
}

section {
     display: flex; 
    flex-direction: column;
}

.section-item-text {
    flex: 20% 1;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto 3em;
    padding: 2em 0;
}

.section-item-image {
    flex-grow: 1;
    width: 50%;
}

.musings {
    padding-top: 3em;
}

.writing {
    margin-bottom: -3em;
}

article {
    display: flex;
    flex-direction: column;
	justify-content: space-between;
    margin: 0 3em 2.5em 3em;
    border-top: 2px solid #eee;
}

.article-title {
  padding-top: 1em;
  flex: 2;
}

.article-text {
  padding-top: 2em;
  flex: 3;
}

.read-all, #contact {
    justify-content: center;
    padding: 3em 3em 5em 0;
}


#contact {
    background-color: #f2f5f8;
    justify-content: center;
    margin: auto;
}


#resources-wrapper .row {
    background-color: #f9f9f9;
    padding: 1em;
}


#resources-wrapper .row .section-item-image {
    width: 20%;
}


/*  Page Elements  */

.headline {
	margin-bottom: 0;
}

.resources h2 {  
    color: #d04e8a;    
}


.tagline {
    font-weight: 300;
}


/* Misc */

img {
	max-width: 100%;
}
