/* Cards */



@media (min-width: 769px) {
	.main-header,
	.row {
		width: 80%;
        margin: 3em auto;
        max-width: 1150px;
	}
	.tagline {
		font-size: 1.4em;
	}
    
    .main-header,
    .main-nav
    {
		display: flex;  
	}
    
	.main-header {
		flex-direction: column;
		align-items: center;
        margin: 0 auto;
	}
    
    section, article {
        flex-direction: row;
    }
    
    .article-title {        
        margin-right: 2em;
    }
    
    .section-item-text {
        padding: 0;
    }
}



@media (min-width: 1025px) {

	.main-header,
    .main-nav {
		flex-direction: row;
		justify-content: space-between;
	}

}

