/* Cards */

@media only screen and (min-width: 500px) {
    button {
        
    padding: .5em 1.5em;
    }
}


@media only screen and (min-width: 850px) {
   .cardWrap {
        flex-direction: row;
    }  
    
    .card {
        max-width: 100%;
        width: 200px;
        
    }
    
}
